@model HomeServices.Models.Services

@{
    ViewData["Title"] = "Edit";
}
<div>
    <a asp-action="IndexServices" asp-controller="Service" class="btn btn-outline-secondary mb-3">
        <i class="bi bi-arrow-left"></i> Back to List
    </a>
</div>


<h4> Edit Services</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ServicesId" />
            <div class="form-group">
                <label asp-for="ServiceName" class="control-label"></label>
                <input asp-for="ServiceName" class="form-control" />
                <span asp-validation-for="ServiceName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
