@model HomeServices.ViewModels.VMIssue

@{
    ViewData["Title"] = "Report an Issue";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Report an Issue</h2>

<form asp-action="ProviderIssue" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Type">Issue Type</label>
        <input asp-for="Type" class="form-control" placeholder="e.g. Site is slow, stuck, or broken" />
        <small class="form-text text-muted">
            Please enter a problem related to performance or technical issues only.
        </small>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
