@model HomeServices.ViewModels.VMIssue

@{
    ViewData["Title"] = "Report an Issue";
    Layout = "~/Views/_Layout.cshtml";
}

<form asp-controller="Issue" asp-action="SentIssue" method="post">
</form>



}
}